<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          $$\large{\text {Oz}}\tiny{\underbrace{\large {\text {∀n∈ℝ}}}_{\tiny {\text {For all real n...}}}}$$
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a href="https://medium.com/@ozanerhansha" target="_blank">Articles</a><br/>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a href="https://github.com/ozanerhansha/ozanerhansha.github.io">This Website's Code</a><br/>

      <!--- Icon Links -->
      <b>Links: </b>
      <a href="https://github.com/ozanerhansha"><i class='fa fa-github'></i></a>
      <a href="https://www.quora.com/profile/Ozaner-Hansha/questions"><i class='fa fa-quora'></i></a>
      <a href="https://medium.com/@ozanerhansha"><i class='fa fa-medium'></i></a>
      <!-- <a href="https://math.stackexchange.com/users/490433/ozaner-hansha?tab=questions"><i class='fa fa-stack-exchange'></i></a> -->
    </nav>
    <p>{{ site.time | date: '%Y' }} Ozaner Hansha</p>
  </div>
</div>