---
layout: page
title: Notes
---
<h1>Table of Contents</h1>

<!--Math-->
<details>
  <summary><strong><big><big>
    Math
  </big></big></strong></summary>
  <ul>
    <li><a href="/parity-sequences">Parity Sequences</a></li>
    <li><a href="/fractional-calculus">Fractional Calculus</a></li>
    <li><a href="/abstract-algebra">Abstract Algebra</a></li>
  </ul>
</details>

<!--Physics-->
<details>
  <summary><strong><big><big>
    <a href="/physics">Physics</a>
  </big></big></strong></summary>
  <ul>
    <li> <!--Fundamentals-->
      <strong><big>
        Fundamentals
      </big></strong>
      <ul>
        <li><a href="/position">Position</a></li>
      </ul>
    </li>
    <li> <!--Classical Physics-->
      <strong><big>
        <a href="/classical-physics">Classical Physics</a>
      </big></strong>
      <ul>
        <li><a href="/kinematics">Kinematics</a></li>
        <li><a href="/friction">Friction</a></li>
        <li><a href="/drag-force">Drag Force</a></li>
      </ul>
    </li>
    <li> <!--Relativity-->
      <strong><big>
        <a href="/physics#special--general-relativity">Relativity</a>
      </big></strong>
      <ul>
        <li><a href="/minkowski-spacetime">Minkowski Spacetime</a></li>
      </ul>
    </li>
    <li> <!--Quantum Mechanics-->
      <strong><big>
        <a href="/physics#quantum-mechanics-qm">Quantum Mechanics</a>
      </big></strong>
    </li>
  </ul>
</details>

<!--Computer Science-->
<details>
  <summary><strong><big><big>
    Computer Science
  </big></big></strong></summary>
  <ul>
    <li><a href="/binary-prefixes">Binary Prefixes</a></li>
  </ul>
</details>

<!--Projects-->
<details>
  <summary><strong><big><big>
    <a href="/projects">Projects</a>
  </big></big></strong></summary>
  <ul>
    <li><a href="/reinforcement-learning-pong">Reinforcement Learning Pong AI</a></li>
    <li><a href="/breast-cancer-classification">Breast Cancer Classification</a></li>
    <li><a href="/filetopng">FileToPNG</a></li>
  </ul>
</details>

<hr></hr>

<div>{% include tag-cloud.html %}</div>
<h2>All Posts</h2>
<ul>
  {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
      {{ post.description }}
    </li>
  {% endfor %}
</ul>
